<h3 class="titulo">Lista de Processos</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Numeração única</th>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Réu</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let processo of processos">
      <td>{{ processo.numero }}</td>
      <td class="textoLimitado">{{ processo.titulo }}</td>
      <td>{{ processo.autor }}</td>
      <td>{{ processo.reu }}</td>
      <td>
        <button (click)="updateProcesso(processo.id)" class="btn btn-secondary">
          Editar
        </button>
        <button (click)="deleteProcesso(processo.id)" class="btn btn-danger" style="margin-left: 10px;">
          Excluir
        </button>
        <button (click)="detailProcesso(processo.id)" class="btn btn-info" style="margin-left: 10px;">
          Detalhes
        </button>
      </td>
    </tr>
  </tbody>
</table>
